@model IEnumerable<HotelWeb.Models.UsuarioView>

@{ ViewData["Title"] = "Index"; }

<legend>Listar Usuários</legend>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Senha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CriadoEm)
    </td>
    <td>
    </td>
</tr>}
    </tbody>
</table>
