
@{
    Produto produto = ViewBag.Produto;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alterar</title>
</head>
<body>
    <form asp-action="Alterar" asp-controller="Produto" method="post">
        <fieldset>
            <legend>Alterar Produto</legend>
            <label>Id:</label>
            <input value="@produto.Id" name="txtId" type="text" readonly placeholder="Id do produto" /><br />

            <label>Nome:</label>
            <input value="@produto.Nome" name="txtNome" type="text" placeholder="Informe o nome do produto" /><br />

            <label>Descrição:</label>
            <input value="@produto.Descricao" name="txtDescricao" type="text" placeholder="Descrição do produto" /><br />

            <label>Quantidade:</label>
            <input value="@produto.Quantidade" name="txtQuantidade" type="text" /><br />

            <label>Preço do produto:</label>
            <input value="@produto.Preco" name="txtPreco" type="text" /><br />

            <input type="submit" value="Salvar" />
        </fieldset>
    </form>
</body>
</html>
