
@*Tecnologia de Viwe - Razor*@
@{ 
    List<Produto> produtos = ViewBag.Produtos;
    int quantidade = ViewBag.QuantidadeProdutos;
    DateTime dataHora = ViewBag.DataHora;
}
<!DOCTYPE html>
<html>
<head>
    <title>Gerenciamento Produto</title>
</head>
<body>
    <h2>Gerenciamento de Produtos</h2>
    <a asp-action="Cadastrar" asp-controller="">Gerar produto</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Criado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Produto produtoCadastrado in produtos) {
            <tr>
                <td>@produtoCadastrado.Id</td>
                <td>@produtoCadastrado.Nome</td>
                <td>@produtoCadastrado.Descricao</td>
                <td>@produtoCadastrado.Quantidade</td>
                <td>@produtoCadastrado.Preco</td>
                <td>@produtoCadastrado.CriadoEm</td>
                <td>
                    <a asp-action="Remover" asp-controller="Produto" asp-route-id="@produtoCadastrado.Id">Remover</a>
                </td>

                <td>
                    <a asp-action="Alterar" asp-controller="Produto" asp-route-id="@produtoCadastrado.Id">Alterar</a>
                </td>
            </tr>
        }
            </tbody>
        </table>

    <p><b>Quantidade de produtos</b> @quantidade</p>
    <p><b>Atualizado em: </b>@dataHora </p>
    

</body>

</html>