
@*Tecnologia de Viwe - Razor*@
@{ 
    List<Reserva> reservas = ViewBag.Reservas;
    int quantidade = ViewBag.QuantidadeReservas;
    DateTime dataHora = ViewBag.DataHora;
}
<!DOCTYPE html>
<html>
<head>
    <title>Gerenciamento Reserva</title>
</head>
<body>
    <h2>Gerenciamento de Reservas</h2>
    <a asp-action="Reservar" asp-controller="">Gerar reserva</a>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quato</th>
                <th>Entrada</th>
                <th>Saída</th>
                <th>Crianças</th>
                <th>Adultos</th>
                <th>Criado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Reserva reservaCadastrada in reservas) {
            <tr>
                <td>@reservaCadastrada.Id</td>
                <td>@reservaCadastrada.Nome</td>
                <td>@reservaCadastrada.TipoQuarto</td>
                <td>@reservaCadastrada.DataEntrada</td>
                <td>@reservaCadastrada.DataSaida</td>
                <td>@reservaCadastrada.QuantosCriancas</td>
                <td>@reservaCadastrada.QuantosAdultos</td>
                <td>@reservaCadastrada.CriadoEm</td>
                <td>
                    <a asp-action="Remover" asp-controller="Reserva" asp-route-id="@reservaCadastrada.Id">Remover</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <p><b>Quantidade de reservas</b> @quantidade</p>
    <p><b>Atualizado em: </b>@dataHora </p>
    

</body>

</html>