@model List<Quarto>

@{ List<TipoQuarto> tipoQuartos = ViewBag.TipoQuartos; }

<div class="container" style="margin-top:30px">
    <div class="row">
        
        <div class="col-sm-8">
            <h2>Quarto Árabe</h2>
            <h5>Consulte nosso melhor quarto !</h5>
            <img src="https://www.w3schools.com/bootstrap4/la.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
            <p>A decoração árabe é sinônimo de riqueza, sofisticação e intimismo. Sua sala de estar, quarto ou até mesmo festas de aniversário e casamentos podem ficar ainda mais encantadoras com enfeites e móveis inspirados na decoração árabe simples </p>
            <br>
        </div>
</div>



<div id="tipoQuartos" class="div-tipoQuarto">
    @foreach (TipoQuarto tipoQuartoCadastrado in tipoQuartos) {
<a class="link-tipoQuarto" asp-action="Index" asp-controller="Home"
   asp-route-id="@tipoQuartoCadastrado.Id">
    @tipoQuartoCadastrado.Nome
</a>}
</div>

<div id="quartos" class="row">
    @foreach (Quarto quartoCadastrado in Model) {
    <div class="col-sm-3 div-conteudo">
        <img src="~/images/@quartoCadastrado.Imagem" alt="@quartoCadastrado.Descricao"
             style="width:220px;height:200px" class="img-thumbnail" />
        <br />
        <span>@quartoCadastrado.Nome</span>
        <br />
        <span>
            <b>Preço: </b> @quartoCadastrado.Preco.ToString("C2")
        </span>
        <br />
        <br />
        <a class="btn btn-primary" asp-action="AdicionarAoCarrinho"
           asp-controller="Home"
           asp-route-id="@quartoCadastrado.Id">Reservar</a>
    </div>}
</div>
